body{
    background-color: #FFFAFA;
    margin: 0px;
    padding: 0px;
}
#header{
    background-color: #1C311E;
    height: 97px; ;width:100%;
    display: flex;        
    justify-content: space-between; 
    align-items: center;    
    padding: 0 20px;        
    box-sizing: border-box;
    box-shadow: 15px 7px 4px 0px rgba(0, 0, 0, 0.3);    
}
#menu a{
    text-decoration: none;
    color: #ffffff;
}
#menu button{
    background-color: #FFA500;
    border-radius: 10px;
    border-color: #FFA500;
    height:36px ;width:173px;
    cursor: pointer;
}
#menu button:hover {
    background-color: #FF7A00; 
    transform: scale(1.05);   
}
#imagem img{
    width: 761px; height: 507px;
}
/* FIM HEADER E MENU*/
    #banner{
        background-color: #244027;
        width:100%; height:507px;
        box-shadow: 15px 7px 4px 0px rgba(0, 0, 0, 0.3);
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }
    @font-face {
        font-family: 'Angleton'; src: url('TAN-Angleton-Regular.ttf')format('truetype');
        font-family: 'GothanL'; src: url('GothamLight.ttf')format('truetype');
    }

    #banner{
        font-family:'Angleton';
        color: white;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 65px;
    }
    #frase{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 22.5px;
        
    }
     #frase h1{
        width: 463px;
    }
/* fim do banner*/

/* inicio descricao*/

    .descricao{
        background-image: url(../background/forma.png);
        background-repeat: no-repeat;
        background-size: cover; 
        height: 790.5px;
        display: flex;            
        align-items: center;       
    }
    .flex{
        display: flex;            
        align-items: center;      
        justify-content: space-between;   
        max-width: 1200px;
        width: 100%;
        margin: 0px auto
    }

    .descricao .container{
       position: relative;
       width: 595px;
       text-align: left;
    }

     .descricao .container::after{
       content: '{';
       position: absolute;
       left: -45px;
       top: 0px;
       color: #FFA500;
       font-size: 80px;
       font-weight: lighter;
       
    }
      .descricao .container::before{
       content: '}';
       position: absolute;
       right: 60px;
       bottom: 90px;
       color: #FFA500;
       font-size: 80px;
       font-weight: lighter;
       
    }
    .descricao h1{
        font-family:'GothanL';
        color: black;
        text-align: left;
        font-size: 45px;
        margin-bottom: 45px;
    }
    .descricao h1 span{
        color:#FFA500;
        
    }
    #velho img{
        width: 370px;
        height: 540px;
    }
    #contato{
        width: 376px;
        height: 70px;
        background-color: #1C311E;
        color: white ;
        font-family: sans-serif;
        border-radius: 50px;
        font-size: 30px;
        
    }

