  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }



  .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    font-size: 25px;
    position: relative;
    overflow: hidden;
  }

  #toast {
    position: absolute;
    top: -80px;
    right: 40px;
    height: 60px;
    width: 520px;
    border-radius: 10px;
    font-size: 14px;
    border: solid 2px #f3f3f3;
    background-color: rgba(253, 124, 124, 0.296);
    color: rgba(255, 0, 0, 0.821);
    padding-left: 0px;
    overflow: hidden;
    transition: 0.8s ease-in-out;
  }

  .display {
    border-right: 6px solid rgba(247, 52, 52, 0.642);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    padding: 0px 25px;
    width: 100%;
    height: 100%;
    font-weight: 800;
    text-transform: uppercase;
  }

  .shake {
    animation: shake 0.5s ease;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-5px);
    }

    50% {
      transform: translateX(5px);
    }

    75% {
      transform: translateX(-5px);
    }

    100% {
      transform: translateX(0);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 496px;
    width: 560px;
    padding: 40px 30px;
    border-radius: 15px 15px 15px 15px;
    background: #FFFAFA;
    box-shadow: 5px 6px 13px 2px rgb(10.98% 19.22% 11.76%);
    color: #000000;
    border: solid 1px #000000;
  }

  #ipt_senha {
    position: relative;
  }

  .invisivel::before {
    content: '';
    position: absolute;
    top: 47px;
    right: 20px;
    background-image: url(./Invisible.svg);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 20;
  }

  .visivel::before {
    content: '';
    position: absolute;
    top: 47px;
    right: 20px;
    background-image: url(./Eye.svg);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 20;

  }

  .input-box span {
    font-weight: 700;
    margin-left: 19px;
    color: #000000c2;
  }

  .input-box {
    margin: 15px 0px 40px 0px;
    position: relative;
  }

  .input-box input {
    margin-top: 8px;
    width: 450px;
    height: 52px;
    padding-left: 22px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #D9D9D9;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    font-weight: 300;
    border: 1px solid  #e74d3c00;
  }
  .input-box input.error {
    border: 1px solid  #e74c3c;
  }

  .btn {
    width: 198px;
    height: 52px;
    padding: 10px;
    border-radius: 40px;
    align-self: center;
    justify-self: center;
    border: none;
    background: #FFA500;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 4px 4px 8px rgba(28, 49, 30, 0.333);
    transition: 0.7s ease-in-out;
  }

  .btn.disable {
    width: 198px;
    height: 52px;
    padding: 10px;
    border-radius: 40px;
    align-self: center;
    justify-self: center;
    border: none;
    background: #666053fd;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 24px;
    font-weight: 500;
    cursor: no-drop;
    transition: 0.3s;
    box-shadow: 4px 4px 8px rgba(28, 49, 30, 0.333);
  }


  .btn:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 1656px) {
    .navbar {
      width: 800px;
    }
  }