@font-face {
  font-family: "Gotham Light";
  src: url("fonts/gotham-light.woff2") format("woff2");
  font-weight: normal; 
  font-style: normal; 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}


.header {
  display: flex;
  justify-content: center;
  height: 119px;
  width: 100%;
  background-color: #1c311e;
  box-shadow: 15px 7px 4px 0px #00000025;
  position: relative;
  top: 0px;
}
.logo {
  display: flex;
  width: 100%;
  max-width: 1400px;
}


.footer {
  width: 100%;
  background-color: #1c311e;
  color: white;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 16px;
}

.footer > div {
  flex: 1;
  min-width: 220px;
  margin: 0 20px;
}


.footer h3 {
   font-family: "lato";
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  font-style: italic;
}


.footer ul {
  font-size: 15px;
  padding: 0;
  margin: 0;
  font-style: italic;
   font-family: "lato";
}

.footer ul li {
  margin-bottom: 12px;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-style: italic;
  font-family: "lato";
}

.footer ul li img {
  width: 20px;
  height: 20px;
}

.footer .logo-footer {
  text-align: center;
}

.footer .logo-footer img {
  max-height: 90px;
  margin-bottom: 15px;
}

.footer .social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer .social img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.footer .social img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  width: 100%;
  text-align: center;
  color: #ccc;
  font-size: 14px;
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 15px;
}
