* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
    background-color: #F3F3F3;
}
.slide{
    z-index: 0;
    position: relative;
    overflow: hidden;
}
#animacao{
    position: fixed;
    inset: 0;                    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 30px;
    z-index: 120;
    pointer-events: auto;
    will-change: transform, opacity, background-color;
    animation: slide 3.6s cubic-bezier(.22,.9,.25,1) forwards;
  }

  #animacao img{
    will-change: transform, opacity, filter;
    animation: trasparent 0.9s cubic-bezier(.22,.9,.25,1) 1.8s forwards; 
  }

  @keyframes slide{
    0% {
      opacity: 1;
      background-color:  #365f15;
    }
    60% {
      opacity: 1;
      background-color: #365f15;
    }
    85% {
      opacity: 0.98;
      background-color: rgba(54,95,21,0.15);
    }
    95%{
    }
    100% {
      opacity: 0; 
      pointer-events: none;
    }
  }

  @keyframes trasparent{
    0% {
      opacity: 1;

    }
    40% {
      opacity: 0.95;
    }
    100% {
      opacity: 0;
    }
  }


.menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

#menu-label {
    height: 4px;
    width: 50px;
    border-radius: 40px;
    background-color: white;
}

.navbarMenu {
    background-color: #F9F9F9;
    transition: 0.9s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    font-size: large;
    font-weight: 500;
    width: 100%;
}
.header{
    height: 119px;
    display: flex;
    align-items: center;
    background-color: #1C311E;
    margin-bottom: 11px;
    border-radius: 0px 0px 20px 0px;
    width: 100%;
}
.header a{
    margin-left:  -20px;
}
.navbarMenu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    gap: 40px;
    color: #525252;
    margin-left: 10px;
    width: 100%;
}

.navbarMenu .lista-menu .lista {
    position: relative;
    width: 100%;
}
.grid{
    margin-top: 0px;
    z-index: 100;
    display: grid;
    grid-template-columns:repeat(4, minmax(0, 1fr)) ;
    grid-template-rows: 1fr 80px 1fr 1fr 1fr;
    grid-template-areas: 
    " situacao situacao alertas "
    "   .      select     ."
    "   kpiTemperatura graficoTemperatura historico"
    " kpiUmidade graficoUmidade historico"
    ;
    transition: grid-template-columns 0.5s ease;
    height: 140vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.grid.nav{
    margin-top: 0px;
    z-index: 100;
    display: grid;
    grid-template-columns: 0.7fr 1fr 1.7fr 0.8fr;
    grid-template-rows: 1fr 80px 1fr 1fr 1fr;
    grid-template-areas: 
    "navbar situacao  alertas historico"
    "navbar   select       .    historico"
    "navbar   kpiTemperatura graficoTemperatura historico"
    "navbar kpiUmidade graficoUmidade historico"
    ;
    height: 1500px;
    width: 100%;
    transition: grid-template-columns 0.5s ease;
}
.grid > :nth-child(1){
   grid-area: navbar;
   position: relative;
   width: 100%;
}
.grid > :not(:first-child) {
    margin-top: 30px; 
    border-radius: 25px;
    margin-left: 20px;
}
.grid > :nth-child(2){
   grid-area: situacao;
}
.grid > :nth-child(3){
   grid-area: alertas;
}
.grid > :nth-child(4){
   grid-area: historicoGeral;
}
.grid > :nth-child(5){
   grid-area: select;
}
.grid > :nth-child(6){
   grid-area: kpiTemperatura;
}
.grid > :nth-child(7){
   grid-area: graficoTemperatura;
}
.grid > :nth-child(8){
   grid-area: kpiUmidade;
}
.grid > :nth-child(9){
   grid-area: graficoUmidade;
}
.grid > :nth-child(10){
   grid-area: historico;
}
.box{
    background-color: white;
}
.navbar .lista-menu .lista:hover {
    position: relative;
    color: #356A0B;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.navbarMenu .lista-menu .lista:after {
    content: "";
    position: absolute;
    left: -10px;
    bottom: -15px;
    width: 0;
    height: 50px;
    background-color: #50c1568e;
    transition: width 0.4s;
}

.navbarMenu .lista-menu .lista:before {
    content: "";
    position: absolute;
    left: -10px;
    bottom: -15px;
    width: 0px;
    height: 0px;
    background-color: #356A0B;
    transition: width 0.3s;
    border-radius: 20px;
}

.navbarMenu .lista-menu .lista:hover::after {
    width: 100%;
}

.navbarMenu .lista-menu .lista:hover::before {
    height: 50px;
    width: 5px;
}

.dentro {
    width: 100%;
    margin: auto;
    margin-left: 15px;
}

.list-dashboard {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    gap: 60px;
    cursor: pointer;
    position: relative;
    color: #525252;
}

.list-dashboard::after {
    content: '';
    position: absolute;
    left: 0px;
    top: -4px;
    height: 110px;
    width: 2px;
    background-color: #525252;
}


#log {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding-top: 10px;
}

#log h2 {
    font-size: 30px;
}

#log h3 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.659);
}

#log h3 span {
    font-size: 20px;
    color: black;
}

#log span {
    color: #525252;
    font-size: 10px;
}

#log ul {
    list-style: none;
    width: 100%;
}

.card-historico {
    width: 80%;
    border-radius: 30px;
    margin: auto;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    opacity: 0;
    transform: translateX(50px);
    animation: descer 1.2s ease forwards;
}

@keyframes descer {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.card-historico.green {
    background-color: #50c15694;
}

.card-historico.red {
    background-color: #e61e1e8f;
}

.card-historico.yellow {
    background-color: #e3e61e95;
}

#met {
    font-size: 28px;
    font-weight: 600
}

#med {
    font-size: 21px;
    font-weight: light;
    margin-left: 2px;
    margin-top: 4px;
}

#met-menos {
    font-size: 12px;
    font-weight: 600;
    color: #525252
}

#med-menos {
    font-size: 12px;
    font-weight: light;
    margin-left: 2px;
    margin-top: 4px;
    color: #525252;
}

#div_registros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 1s ease-in-out;
}

.kpi {
    background-color: #F9F9F9;
}

.kpi-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    gap: 25px;
}

.kpi-users {
    position: absolute;
    top: 40%;
    left: 48.5%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.kpi-alerts {
    background-color: #e61e1eea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.kpi-alerts div h2 {
    font-size: x-large;
    font-weight: 700;
    width: 150px;
    color: white;
    text-align: center;
}

.kpi-users div h2 {
    font-size: x-large;
    font-weight: 700;
    width: 150px;
    color: #525252;
    text-align: center;
}
.kpi-media div h2 {
    font-size: x-large;
    font-weight: 600;
    color: #525252;
    text-align: left;
}
.kpi-media div .med {
    font-size: 30px;
    font-weight: 400;
    color: #525252;
    text-align: left;
}
.kpi-media div .container {
    height: 90px;
    width: 100px;
    background-color: #50c1568c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px #50c1568e;
}
.kpi-media .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}
#div_qtdAlertasAtivos{
    font-size: 70px;
    line-height: 0.8;
}
#div_qtd_user{
    font-size: 70px;
    line-height: 0.8;
    color: black;
    
}
#div_qtd_media{
    font-size: 70px;
    line-height: 0.8;
    color: black;
    font-weight: 400;
    position: relative;
}


.kpi-alerts div p {
    font-weight: 400;
    width: 150px;
    color: white;
    font-size: 12px;
    text-align: center;
}

.kpi-users div p {
    font-weight: 400;
    width: 150px;
    font-size: 12px;
    text-align: center;
}
.kpi-media div p {
    font-weight: 400;
    color: #525252;
    font-size: 12px;
    text-align: left;
    position: relative;
    
}
.kpi-media div p::after{
   content: '';
   position: absolute;
   top: -7px;
   left: -25px;
   height: 1.5px;
   border-radius: 5px;
   background-color: #D9D9D9;
   width: 100%;
}


.main {
    position: relative;
    height: 80vh;
    background-color: #F3F3F3;
}

.grafico-umidade {
    background-color: #F9F9F9;
    border-radius: 40px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grafico-umidade .container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grafico-umidade .container h2 {
    position: absolute;
    top: 25px;
    color: #525252
}

.grafico-umidade .container .flex {
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    bottom: 25%;
}

.grafico-umidade .container .flex .text-metrica span{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(15, 133, 4);

}
.grafico-umidade .container .flex .text-metrica span.red {
    font-size: 40px;
    font-weight: bolder;
    color: rgb(133, 4, 4);

}
.grafico-umidade .container .flex .text-metrica span.yellow{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(112, 133, 4);

}

.grafico-umidade .container .flex span {
    font-size: 30px;
    font-weight: lighter;


}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-umidade {
    position: absolute;
    bottom: 40%;
}

.grafico-temperatura {
    background-color: #F9F9F9;
    border-radius: 40px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grafico-temperatura .container {
    position: relative;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 14px;
}

.grafico-temperatura .container h2 {
    top: 25px;
    color: #525252
}
