.container_h01 h1 {
    margin: 50px;
    padding: 20px;
    color: #ffa500;
    text-align: light;
    font-family: "Gotham";
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .container_h02 h1 {
    margin: 50px;
    padding: 20px;
    color: #ffa500;
    text-align: right;
    font-family: "Gotham";
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .container_p01 {
    /*color: #fffafa;*/
    margin: 20px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: column;
    text-align: light;
  }

  .container_p02 {
    margin: 20px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: column;
    text-align: right;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato-regular", sans-serif;
    font-size: 34px;
  }